<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>配置列表页面</title>
    <script src="${ctxPath}/medias/RX.load.js"></script>
    <script type="text/javascript">
        RX.loadCSS({
            template: "platMain",
            module: ["tabPanel"]
        });
        $(function () {
            loadingPages();
        })
    </script>
    <style type="text/css">
        html, body {
            height: 100%;
            overflow: hidden;
            background: #fff;
        }

        .defaultPanel {
            padding: 0px 10px 10px 10px;
        }
    </style>
</head>
<body>
<div class="base_box">
    <div class="operation_box">
        <ul class="action_button">
            <li><a href="#none" id="add"><i class="iconfont">&#xe62a;</i>新增</a></li>
            <li><a href="#none" id="listShow"><i class="iconfont ">&#xe605;</i>按列表展示</a></li>
        </ul>
    </div>

    <div class="list_box" style="padding:0;">
        <div class="tabdiv" id="projectTab">
        </div>
    </div>
</div>
<% for(projectMap in projectTypeList){ %>
<div id="_project${projectMap.projectId}" class="defaultPanel">
    <% for(typeMap in projectMap.typeList){ %>
    <div class="page_title">
        <h1>${typeMap.typeName}</h1>
    </div>
    <table class="form" border="0" cellspacing="0" cellpadding="0">
        <colgroup>
            <col width="30%"/>
            <col width="60%"/>
            <col width="10%"/>
        </colgroup>
        <% for(config in typeMap.configList){ %>
        <tr>
            <th>${config.NAME} (${config.CODE})</th>
            <td>${config.VALUE!}</td>
            <td style="text-align: center"><a onclick="editConfig(${config.ID})">修改</a><a style="margin-left:10px;"
                                                                                          onclick="delConfig(${config.ID})">删除</a>
            </td>
        </tr>
        <% }%>
    </table>
    <% }%>
    <div>
        <% }%>
        <script type="text/javascript">
            RX.load({
                template: "form",
                module: ["tabPanel",
                    "/medias/src/plat/code/config/configTypeShow.js"
                ],
                callback: function () {
                    $(function () {
                        var projectTab = new TabPanel({
                            renderTo: 'projectTab',
                            fullTab: true,
                            tabWidth: 70,
                            active: 0,
                            scrolled: true,
                            contentScroll: true,
                            items: [
                            < % for(projectMap in projectTypeList);
                        {  %>
                            {
                                "${projectMap.name}",
                                    cId;
                            :
                                "_project${projectMap.projectId}"
                            }
                        <%
                            if (!projectMapLP.last) {%>,
                            <%
                            }
                        }
                    %>
                    ]
                    })
                    })
                }
            });
        </script>
</body>
</html>
